.KanbanItem {
    background-color: white;
    /* border-radius: 16px; */
    height: 100px;
    /* margin: 10px 5px; */
}

.KanbanItem header.itemHeader{
    
    margin-left: 10px;
    /* scrollbar-width: none; */
    display: flex;
    justify-content: space-between;
}
.KanbanItem header.itemHeader > svg{
    margin-right: 5px;
    opacity: 0.1;    
    
    
}    

.KanbanItem header.itemHeader > svg:hover{
    opacity: 1;    
    
}

.KanbanItem p{
    font-size: x-small;
    overflow-y: scroll;
    margin: 2px 5px 0 5px;
    height: 65%;
    
}

