.KanbanBoard {
    border: 10px solid #52839c;
    background-color: #52839c;
    margin: 2%;
    border-radius: 16px;
    /* padding: 10px 0; */
    height: 800px;

}

/* .KanbanBoard div {  */
.ColumnGroup{    
    height: 80%;
    display: flex;

    /* justify-content: space-evenly; */
}